@use "../abstracts/variables" as v;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 1rem;
  /* overflow-x: hidden; */
}

/* Ensure elements with the HTML hidden attribute are not displayed */
[hidden] {
  display: none !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (max-width: 600px) {
  .flex-container {
    max-width: 100%;
    overflow: hidden;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.logo {
  width: 200px;
  padding: 1.2rem;
  margin-right: 2rem;
}

@media (max-width: 600px) {
  .logo {
    width: 140px;
    padding: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media (max-width: 400px) {
  .logo {
    width: 120px;
    padding: 0.3rem;
    margin-right: 0.3rem;
  }
}
